@import "./_CSSReset";

@import "./_CSSReset";

.container{
    max-width: 640px;
    margin: 0 auto;
    line-height: 1.5;
}

.flex{
    display: flex;
}

.mr20{
    margin-right: 20px;
}

.item{
    margin-bottom: 24px;
}

.text_wrapper{
    max-width: 288px;
}

.title{
    font-size: 20px;
    line-height: 1.2;
}

.text{
    font-size: 16px;
}

.pic216{
    height: 216px;
}

footer{
    .text{
        padding-top: 48px;
        padding-bottom: 48px;
        text-align: center;
    }
}